.cleo {
  color: aquamarine;
  background-color: aqua;
  font-size: 5rem;
}

.cleo2 {
  color: pink;
  font-size: medium;
  background-image: -webkit-gradient(linear, left top, left bottom, from(black), to(yellow));
  background-image: linear-gradient(black, yellow);
}

.test1134 {
  color: aquamarine;
}

.ya {
  background-color: black;
  padding: auto;
}
